<nav class="nav-group">
        <h5 class="nav-group-title">Utilities</h5>
        <a class="nav-group-item active">
          <span class="icon icon-drive"></span>
          Scanners
        </a>
        <span class="nav-group-item">
          <span class="icon icon-print"></span>
          Printers
        </span>
        <span class="nav-group-item">
          <span class="icon icon-signal"></span>
          Connection
        </span>
        <span class="nav-group-item">
          <span class="icon icon-database"></span>
          Database
        </span>
        <span class="nav-group-item">
          <span class="icon icon-cloud"></span>
          Cloud Service
        </span>
        <h5 class="nav-group-title">Report</h5>
        <span class="nav-group-item">
          <span class="icon icon-database"></span>
          Product
        </span>
        <span class="nav-group-item">
          <span class="icon icon-cloud"></span>
          System
        </span>
      </nav>